apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: default
type: Opaque
stringData:
  POSTGRES_USER: taskmanager
  POSTGRES_PASSWORD: taskmanager123  # Change this in production!
  POSTGRES_DB: taskmanager_db
